.copiar-codigo {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.copiar-codigo i {
    margin-right: 5px;
}

.code-sample {
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 20px;
    max-height: 250px;
    overflow: auto;
    width: 100%;
}

.code-sample code {
    display: block;
    white-space: pre;
    font-family: "Courier New", monospace;
}

.language-csharp {
    color: #2b91af;
}
.contenedor_codigo {
    margin: 20px;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    display: block;
}        

.contenedor_codigo div{                
        display: flex;    
}
