.navbar {
    background-color: #366e7fff;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* Asegura que la barra de navegación esté por encima de todo */
}

.menu-toggle {
    display: none;
    cursor: pointer;
}

.bar {
    background-color: #fff;
    height: 3px;
    width: 25px;
    margin: 3px 0;
}

.logo {
    font-size: 24px;
}

.menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    margin: 0 20px;
}

.menu a {
    text-decoration: none;
    color: #fff;
}

@media screen and (max-width: 768px) {
    .menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 40px;
        left: 0;
        background-color: #366e7fff;
        width: 100%;
        transition: all 0.3s ease;
    }

    .menu.active {
        display: flex;
    }

    .menu-toggle {
        display: block;
    }
}
