/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

header {    
    background-image: url(/img/headImg.jpg);
    background-size: 100%;
    color: white;
    text-align: center;
    padding: 20px 0;
}

nav ul {
    list-style: none;
    text-decoration: none;
}

nav li {
    display: inline-block;
    margin: 0 20px;    
}

li a {
text-decoration: none;
color: #f7f7f7;
text-transform: uppercase;
}

.skills li {
    display: inline-block;    
    text-transform: uppercase;
    padding: 5px;
    margin: 5px;
    border-radius: 10%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    background-color: white
}
section {
    padding: 40px;
}
.project {
    margin: 20px;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    display: flex;
}
.acerca {    
    display: block;
}

.acerca div {    
    min-width: 50%;
    margin:5px;    
    display: inline-block;    
}


.project div
{
    min-width: 50%;
    margin:5px;
    min-height: 300px;
    display: inline-block;
}

.aspect-ratio-16-4 {
    position: relative;
    width: 100%;    
}

.aspect-ratio-16-4 img {    
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Esto evita que la imagen se deforme mientras llena el espacio */
}

.logo {    
    padding-top: 40px;
    align-items: center;    
}
.imagen_logo{
    
    height: 200px;
    width: 200px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.432);
}

/* Estilos para el footer */
footer {
        
    text-align: center;
    background-color: #366e7fff;
    color: white;
    padding: 10px 0;
}

/* Estilos para los iconos de redes sociales */
.social-icons {
    margin-top: 10px;
}

.social-icons a {
    color: #fff; /* Color de los iconos */
    font-size: 24px; /* Tamaño de los iconos */
    margin: 0 10px; /* Espaciado entre los iconos */
    text-decoration: none; /* Elimina el subrayado de los enlaces */
}

.social-icons a:hover {
    color: #55acee; /* Cambia el color al pasar el mouse sobre los iconos (por ejemplo, Twitter) */
}
